img {
    margin-right: 0.5em;
}

.about-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
}
img {
    width: 300px;
    margin-left: 10px;
}
body {
    display: block;
    padding: 1em;
}