header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 30em;
}

header a {
    text-decoration: none;
    color: gray;
}

header span {
    font-size: 2em;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: "arial", sans-serif;
    margin: 1em;
    background-color: #ccc;
    max-width: 1200px;
}

.fob-image {
    width: 200px;
    height: 200px;
    background: #ccc;
}

.fobs-ab article {
    display: flex;
    flex-direction: column;
    width: 60em;
    padding: 1em;
}

.fobs-ab article img {
    margin-bottom: 1em;
}

article.listing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    background-color: #eee;
    max-width: 450px;
    margin: 20px;
    padding: 12px;
    border-radius: 10%;
}

article.listing img {
    width: 150px;
    height: 150px;
    margin: 16px;
}

article.listing button {
    align-self: flex-end;
    cursor: pointer;
}

article.listing article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

dl {
    margin-bottom: 2em;
}

dt {
    font-size: 0.7em;
    color: #111;
}

dd {
    font-size: 0.8em;
    color: #666;
}